@model List<Fotbollstips.TipsError>

@{
    ViewBag.Title = "Errors";
}

<h2>Errors</h2>
<table>
    <tr>
        <th>
            Exception
        </th>
        <th>
            Inner exception
        </th>
        <th>
            EntryDate
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Exception
            </td>
            <td>
                @item.InnerException
            </td>
            <td>
                @item.EntryDate.ToString()
            </td>
        </tr>
    }

</table>