@model Fotbollstips.TipsComment

@{
    ViewBag.Title = "Ge en kommentar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Har du ett förslag på förbättring eller är det något du undrar?</h2>
    <p>Kanske vill du bara säga hej? </p>
    <br />
    <p> Skicka gärna in en kommentar!</p>
</div>
<div>
    @using (Html.BeginForm("Comment", "Home", FormMethod.Post))
    {
        if (ViewBag.ThankYouForYourComment != null)
        {
            <div class="alert alert-success" role="alert">@ViewBag.ThankYouForYourComment</div>
        }

        <p>Ditt namn</p>
        @Html.TextBoxFor(m => m.Name)
        <br />
        <br />
        <p>Din kommentar</p>
        @*@Html.TextBoxFor(m => m.Comment)*@
        @Html.TextAreaFor(m => m.Comment, new { style = "width:300px; height:100px" })

        <br />
        <br />
        <input type="submit" class="btn btn-warning" value="Skicka in kommentar" />
    }
</div>
