@{
    ViewBag.Title = "För sent att anmäla";
}
<div class="jumbotron">
    <h2>Mästerskapet har nu börjat!</h2>
    <br />
    <p>
        Eftersom mästerskapet har börjat kan du inte längre anmäla dig. Maila masterskapstips@gmail.com om du har några frågor.
    </p>
</div>
<div>
   
</div>