@model List<Fotbollstips.TipsData>
@{
    ViewBag.Title = "Innan Mästerskapet";
}
<div class="jumbotron">
    <h2>Välkommen till Mästerskapstipset!</h2>
    <p>
        Följande personer har lämnat in rader.
        Din rad är inte giltig förrän du betalat in 50 kronor via Swish till telefonnummer 0709-632067.
    </p>
    <p>
        <strong>Viktigt: </strong>I meddelandet i Swish så skriv namnet precis som det står nedan.
    </p>
    <p>
        Har du några frågor så
        gå in under fliken "Ge en kommentar" eller skicka ett mail direkt till masterskapstips@gmail.com.
    </p>
    <p>
        <strong>Jag (tipsadministratören Martin Nordkvist) uppdaterar denna information manuellt vid tillfälle</strong> (Det innebär
        alltså att du kan ha betalat men att jag inte uppdaterat denna sidan än)
    </p>
</div>

<div>
    <h4>Senaste kontroll av betalning:  @ViewBag.LatestDate</h4>
    <table>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Betalat
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Namn == "Rätt svar")
            {
                continue;
            }

            <tr>
                <td>
                    @item.Namn
                </td>
                @if ((bool)item.HasPayed)
                {
                    <td>
                        Ja
                    </td>
                }
                else
                {
                    <td>
                        Nej
                    </td>
                }
            </tr>
        }
    </table>
</div>
